.detail-product__container {
    background-color: rgb(245, 245, 245);
    padding: 20px 0;
}

.detail-product__content {
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    border-radius: 3px;
    padding: 16px 8px;
}

.detail-product__content-infor {
    margin-top: 8%;
}

.detail-product__img {
    padding-top: 100%;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}

.detail-product__name {
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: var(--text-color);
    margin: 10px 10px 6px;
    height: 5.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__action {
    justify-content: left;
}

.detail-product-item__star {
    padding: 0 20px 0 0;
    margin-left: 0;
    border-right: 1px solid var(--border-color);
    font-size: 2rem;
}

.detail-product-item__sold {
    padding: 0 0 0 20px;
    margin-top: 4px;
    font-size: 2rem;
}

.detail-product-item__price {
    margin-top: 40px;
    justify-content: left;
    align-items: center;
}

.detail-product-item__old {
    font-size: 2rem;
}

.detail-product-item__new {
    margin: 0 20px;
    font-size: 3.2rem;    
}

.detail-product-item__discount {
    padding: 2px;
    background-color: var(--primary-color);
    border-radius: 2px;
}

.detail-product-item__percent {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--white-color);
    line-height: 23px;
}

.detail-product-item__label {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--white-color); 
    line-height: 23px;
}

.detail-product-item__origin {
    margin: 40px 10px;
    font-size: 2rem;
    justify-content: left;
} 

.detail-product-item__country {
    margin-left: 70px;
}

.detail-product-item__qty {
    display: flex;
    margin: 40px 10px;
}

.detail-product-item__qty-text {
    margin-right: 50px;
    margin-bottom: 0;
    color: rgba(0,0,0,0.65);
    line-height: 37px;
}

.detail-product-item__qty-btn {
    display: flex;
    border: 1px solid var(--border-color);
}

.detail-product-item__qty-num {
    display: block;
    width: 50px;
    height: 100%;
    font-size: 2rem;
    color: rgba(0,0,0,0.65);
    text-align: center;
    line-height: 37px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.detail-product-item__qty-minus,
.detail-product-item__qty-plus {
    width: 30px;
    height: 100%;
    font-size: 2rem;
    color: rgba(0,0,0,0.65);
    border: none;
}

.detail-product__btn {
    min-width: 200px;
    height: 44px;
    border: 1px solid var(--primary-color);
    background-color: var(--white-color);
    cursor: pointer;
    color: var(--primary-color);
    font-size: 1.8rem;
}