.container__account {
    background-color: rgb(245,245,245);
    padding: 20px 0;
}

.content__account {
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    box-shadow: 1 1px 2px rgba(0,0,0,0.1);
    border-radius: 2px;
}

.content__account-title {
    border-bottom: 1px solid var(--border-color);
    padding: 20px 32px;
    margin: 0;
}

.content__account-title-sub {
    font-size: 1.6rem;
    color: rgb(93,97,106);
}

.content__account-form {
    margin: 0;
}

.form {
    /* margin-left: 102px; */
    border-right: 1px solid var(--border-color);
}

.form__group {
    margin: 18px 0;
}

.form__label {
    text-align: right;
}

.form__label-text {
    font-size: 1.6rem;
    color: rgb(93,97,106);
    line-height: 40px;
}

.form__text {
    width: 100%;
}

input {
    font-size: 1.6rem;
    height: 40px;
    border: 1px solid var(--border-color);
}

input:focus {
    outline: 1px solid var(--primary-color);
}

.gender__wrapper,
.radio__gender {
    display: flex;
}

.radio__active {
    outline: none !important;
    accent-color: var(--primary-color);
    cursor: pointer;
}

.form__radio {
    padding: 0 12px;
    font-size: 1.6rem;
    line-height: 40px;
}

.form__img {
    margin-top: 52px;
    padding-top: 100%;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}

.form__btn {
    margin: 70px 12px 0;
    width: 68px;
    height: 40px;
    font-size: 1.6rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 2px;
}

.form__btn:hover {
    opacity: 0.9;
}